<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>已知宽高情况下，使用决定定位实现元素居中显示,只支持现代浏览器</title>
	<style type="text/css">
	
	*{
		margin:0;
		padding:0;
	}
	.wrap{
		position:relative;
		width:200px;
		height:200px;
		border:1px solid red;
	}
	.box{
		height:150px;
		width: 150px;
		position:absolute;
		background: red;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
	}
	.box p{
		text-align: center;
		width: 150px;
		height:150px;
		line-height: 150px;
	}
	</style>
</head>
<body>
	<div class="wrap">
		<div class="box"><p>这只是一行文字</p></div>
	</div>
</body>
</html>
